

body {
    font-size: 15.5px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #103D5A;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

.navbar {
    background-image: none;
    border-bottom: 3px solid #1775B6;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    min-height: 45px;
}

.navbar-default {
    background-color: #103D5A;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #1775B6;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #1775B6;
}

.navbar-brand {
    font-size: 17px;
    padding: 11px 14px;
    font-weight: bold;
}

.navbar-nav > li > a {
    padding: 11px 14px;
}

.bs-sidebar {
    font-size: 15px;
}

a {
    color: #1775B6;
}

pre code {
    font-size: 14px;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a, .bs-sidebar .nav > li > a:hover {
    border-right: 2px solid;
}

.admonition {
    font-size: 15px;
}

ul.nav > li > a[rel~="prev"], ul.nav > li > a[rel~="next"] {
    display: none;
}

div.container div p img {
    margin: 15px auto 18px auto;
}
